!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}/
    - if content_for?(:title)
      %title= yield_content :title
    - else
      %title 'No title'
    = partial 'partials/head'
    %body{:class => page_classes}
      .container-fluid
        = partial 'partials/header'
        = yield
        = partial 'partials/cta'
        = partial 'partials/footer'
