= stylesheet_link_tag :bootstrap
= stylesheet_link_tag 'ionicons.min.css'
= stylesheet_link_tag :animate
= stylesheet_link_tag :slider
= stylesheet_link_tag 'owl.carousel.css'
= stylesheet_link_tag 'owl.theme.css'
= stylesheet_link_tag 'jquery.fancybox'
= stylesheet_link_tag :main
= stylesheet_link_tag :site
= stylesheet_link_tag :responsive
= javascript_include_tag :jquery
= javascript_include_tag :all
