%body
  %header#top-bar.navbar-fixed-top.animated-header
    .container
      .navbar-header
        / responsive nav button
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / /responsive nav button
        / logo
        .navbar-brand
          = link_to "index.html" do
            = image_tag "images/logo.png"
        / /logo
      / main menu
      %nav.collapse.navbar-collapse.navbar-right{:role => "navigation"}
        .main-menu
          %ul.nav.navbar-nav.navbar-right
            %li{ is_page_active('/') }
              = link_to 'Home', '/'
            %li
              = link_to "About", "about.html"
            %li
              = link_to "Projects", "projects.html"
            %li
              = link_to "Blog", "#"
            %li
              = link_to "Contact", "contact.html"
